

<body ng-app>

  
  
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <button class="btn btn-light" (click)="sortTable('title')">Title</button>
        </th>
        <th scope="col">
          <button class="btn btn-light" (click)="sortTable('priority')">Priority</button>
        </th>
        <th scope="col">
          <button class="btn btn-light" (click)="sortTable('reporter')">Reporter</button>
        </th>
        <th scope="col">
          <button class="btn btn-light" (click)="sortTable('createdAt')">Date Created</button>
        </th>
        <th scope="col">
          <button class="btn btn-light" (click)="sortTable('status')">Status</button>
        </th>
        <th scope="col">
          
        </th>
        <th scope="col">
          
        </th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let data of datas;">

        <td>{{data.title}}</td>
        <td>{{data.priority}}</td>
        <td>{{data.reporter}}</td>
        <td>{{data.createdAt}}</td>
        <td>{{data.status}}</td>
        <td><button class="btn btn-primary" (click)="editButtonClick(data.id)">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deleteBug(data.id)" >Delete</button></td>
      </tr>

    </tbody>

  </table>

</body>