<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" type='text/javascript'></script>
<script src='controller.js' type='text/javascript'></script>

<body ng-app>

  
  
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <button (click)="sortTable('title')">Sort by:</button>Title
        </th>
        <th scope="col">
          <button (click)="sortTable('priority')">Sort by:</button>Priority
        </th>
        <th scope="col">
          <button (click)="sortTable('reporter')">Sort by:</button>Reporter
        </th>
        <th scope="col">
          <button (click)="sortTable('createdAt')">Sort by:</button>Date Created
        </th>
        <th scope="col">
          <button (click)="sortTable('status')">Sort by:</button>Status
        </th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let data of datas;">

        <td>{{data.title}}</td>
        <td>{{data.priority}}</td>
        <td>{{data.reporter}}</td>
        <td>{{data.createdAt}}</td>
        <td>{{data.status}}</td>
      </tr>

    </tbody>

  </table>

</body>